
/* Header */
nav {
    margin-bottom: 30px;
}

.logo1 {
    padding: 0 45px 0 45px;
}

.logo1 a {
    font-size: 30px;
}

.logo1 p {
    margin: 0;
}


/* Ліва навігація */
.menu-left .menu-left1 {
    margin-top: 10px;    
}

span.badge {
    min-width: 20px;
    margin-left: 10px;
}

/* Центральна частина */

.main-foto a {
    width: 100%;
}

.card-p1 {
    padding: 10px 20px;
}

.messeg-r1 {
    margin-bottom: 10px;
}



/* Footer */
footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

